/* Main */
.ffamily {font-family:sans-serif, monospace;}
#hero_container {
    padding: 0px 16px;
    padding-top: 100px;
    padding-bottom: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f1f1b4;
}
h1 {font-size: 2em;}
h2 {font-size: 1.7em;}
h3 {color: #949494}
/* Hero */
#hero_container h1 {
    text-align: center;
    color: #eeeeee;
}
#browse_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 20px;
    padding: 10px; 
}
#browse_link {
    font-size: 1em;
    text-decoration: none;
    margin: 10px 5px;
    background-color: #0ba9e2;
    border-radius: 50%;
}
#browse_icon {
    width: 25px;
    height: auto;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: #eeeeee;
    box-shadow: 0px 0px 4px 2px #bebdbd;
}
#browse_link:hover {
    box-shadow: 0px 0px 4px 2px #0ba9e2;
}
/* Newsletter */
#newsletter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 16px;
    background-color: #333333;
}
#newsletter_container h2 {
    text-align: center;
    color: #eeeeee;
}
#email_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
#email {
    width: 70%;
    padding: 10px;
}
#email_submit {
    width: 20%;
    padding: 5px;
    font-weight: bolder;
    background-color: #0ba9e2;
    border-radius: 3px;
    color: #eeeeee;
    box-shadow: 0px 0px 4px 0px #eeeeee;
}
/* Recommendations */
#recommendations_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 16px;
}
.rec_img {
    max-width: 270px;
    height: auto;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0px -5px 5px 4px #cccccc;
}
.rec_img:hover {
    box-shadow: 0px 0px 5px 4px #bbbbbb;
}
main section {
    padding: 52px 0px;
}
main section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#one_piece {padding-top: 32px 0px;}
#recommendations_container a {
    width: 50%;
    padding: 10px;
    border: 2px solid #a3a3a3;
    background-color: #eeeeee75;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #333333;
}
#recommendations_container a:hover {
    border: 2px solid #0ba9e2;
    background-color: #eeeeee;
}
/* Media Query */
@media all and (min-width: 0px) and (max-height: 765px) {
    #hero_container {
        /* The image used */
        background-image: url(../images/bg_mobile_v1.2.png);

        /* Set a specific height */
        min-height: 500px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
@media all and (min-width: 375px) {
    h1 {font-size: 2.3em;}
    .rec_img {max-width: 300px;}
    }
}
@media all and (min-width: 526px) {
    h1 {font-size: 2.8em}
    h2 {font-size: 2em}
    h3 {font-size: 1.5em}
    .rec_img {max-width: 400px;}
}
@media all and (min-width: 768px) {
    #hero_container {
        background-image: url(../images/bg_desktop_v.1.1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
    }
    h1 {font-size: 3em}
    .rec_img {max-width: 450px;}
}
@media all and (min-width: 1024px) {
    #email_container {
        max-width: 80%;
    }
    .rec_img {
        max-width: 270px;
        max-height: 350px;
        box-shadow: 0px 0px 5px 5px #cccccc;
    }
    main section {
        padding: 0px;
        margin: 52px 32px;
    } 
    main>div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}